<nav id="nav" class="navbar navbar-light navbar-expand-sm navbar-fixed-top">
  <div class="container">

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      {{ if .Site.Menus.main }}
        {{ $pageRootURL := index (split .URL "/") 1 }}
        <ul class="navbar-nav mr-auto">
          {{ range sort .Site.Menus.main }}
          {{ $buttonRootURL := index (split .URL "/") 1 }}
            <li class="nav-item active">
              <a class="nav-link" {{ if eq $pageRootURL $buttonRootURL }}style="font-weight:bold;"{{ end }} href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ if .Site.Menus.icon }}
      <div class="nav-icons">
        <ul class="navbar-nav navbar-right">
          {{ range sort .Site.Menus.icon }}
            <li class="nav-item active">
              <a class="nav-link" href="{{ .URL }}">
                <i class="fa fa-{{ .Name }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>

  </div>
</nav>
